<h1><%= @list.title  %></h1>
<small ><%= link_to "Delete List", @list, method: :delete %></small>
<h3 class="media-heading"><i><%= current_user.name %></i></h3>
<%= render partial: 'items/form'%>
<%= render partial: 'items/item', collection: @items %>